body{
    background-color: whitesmoke;
    background-image: url('./6.png');
}

h4{
    font-weight: bolder;
    margin-left: 20px;
    color: rgb(236, 233, 241);

}
header{
    height: 100px;
    width: 90%;
    padding: auto;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    font-family: cursive;
    font-style: italic;
    font-weight: bolder;
    color: rgb(236, 233, 241);

}
.d-flex{
    width: 100%;
}
#container{
    
    padding-top: 40px;
    width: 90%;
    padding: auto;
    margin: auto;
    margin-top: 20px;
    background-color:rgba(61, 57, 68, 0.596);
    border-radius: 5px; 
}
.navbar{ 
    border-radius: 5px; 
    background-color:rgba(61, 57, 68, 0.596);
}
nav{
    width: 90%;
    padding: auto;
    margin: auto;
    height: 70px;
}

#sticky{
    position: -webkit-sticky;
    position: sticky; 
    top: 0px;
}
#srchContent{
    text-align: left;
    border-radius: 5px; 
    
}
.flex{
    display: flex;
    flex-wrap: wrap;
}

#lmt{
    width: 15%;
}
.term{
    width:300px;
    height:200px;
    vertical-align:top;
    box-shadow: 10px 10px 5px rgb(64, 60, 71);
    margin:20px;
}
.gif{
    box-shadow: 10px 10px 5px rgb(64, 60, 71);
    width:250px;
    height:250px;
    vertical-align:top;
    margin:20px
}
#warning{
    background-color: rgb(76, 0, 95);
    width: 60%;
    border-radius: 10px; 
    padding: auto;
    margin: auto;
    margin-top: 20px;
    font-size: 24px;
    text-align: center;
    color: rgb(255, 255, 255);
    line-height: 2.5em;
}
footer{
    margin-top: 20px;
    height: 50px;
    text-align: center;
    color: white;
}
